/* https://piccalil.li/blog/a-modern-css-reset */
/* General css */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}
a:link,
a:visited {
  text-decoration: none;
}
:root {
  --ff-primary: "Red Hat Display", sans-serif;
  --clr-primary: hsl(245, 75%, 52%);
  --clr-primary-darker: #1f2f56;
  --clr-btn-cancel-active: #303753;
  --clr-white: #ffffff;
  --clr-main-btn-active: #766cf1;
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-gray: hsl(224, 23%, 55%);
  --clr-pale-blue-very: hsl(225, 100%, 98%);
  --spacing-m: 1.6rem;
  --spacing-s: 1.2rem;
  --spacing-l: 2.4rem;
  --fs-l: 2.3rem;
  --fs-ml: 1.602rem;
  --fs-m: 1.424rem;
  --fs-s: 1.266rem;
  --fs-xs: 1.125rem;
  --br-radius: 1.7rem;
}
/* /* font-size-scale 1.125 rem /1.266rem / 1.424rem / 1.602rem / 1.802rem / 2.027 / 2.281rem / 2.566rem / 2.887rem / 3. 3.247rem/ 3.653rem / 

spacing system
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/* - Mobile: 375px
- Desktop: 1440px */

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
h1,
h2,
h3,
h4,
h5 {
  color: var(--clr-primary-darker);
  font-weight: 900;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
}
/* Set core body defaults */

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: var(--ff-primary);
  text-rendering: optimizeSpeed;
  font-size: var(--fs-m);
  color: var(--clr-pale-blue-very);
  background-color: var(--clr-pale-blue);
  line-height: 1.7;
  color: var(--clr-gray);
  position: relative;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  background-color: inherit;
  border: none;
}
ul {
  list-style: none;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*  */
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
}

.container {
  max-width: 32rem;
  margin: 0 auto;
}
/*
/* card */
.card {
  z-index: 3;
  margin-top: 6.4rem;
  background-color: var(--clr-white);
  row-gap: var(--spacing-m);
  align-items: center;
  border-radius: var(--br-radius);
  justify-items: center;
  text-align: center;
  margin-bottom: 9.6rem;
  -webkit-box-shadow: 0px 21px 18px -4px #c7d0f7;
  -moz-box-shadow: 0px 21px 18px -4px #c7d0f7;
  box-shadow: 0px 21px 18px -4px #c7d0f7;
}
.card-image img {
  border-radius: var(--br-radius) var(--br-radius) 0 0;
}
.background-image {
  width: 100vw;
  position: absolute;
  left: 0%;
  z-index: -1;
}
.background-image img {
  width: 100%;
  height: 100%;
}

.card-content {
  width: 84.2%;
  row-gap: var(--spacing-l);
  padding: var(--spacing-m) 0 var(--spacing-m) 0;
}
.primary-heading {
  margin-top: 0.4rem;
  margin-bottom: -0.4rem;
  font-size: var(--fs-l);
  line-height: 1;
} /* end of card */
.card-description {
  text-align: center;
  margin: 0 var(--spacing-s);
  font-size: 1.5rem;
}
.card-price {
  font-size: var(--fs-ml);
  background-color: #f8f9fe;
  gap: var(--spacing-l);
  padding: var(--spacing-m) 0;
  border-radius: 1rem;
}
.btn-change {
  font-size: var(--fs-s);
  text-decoration: underline;
  color: var(--clr-primary);
  font-weight: 800;
  margin-right: var(--spacing-m);
}
.btn-change:active {
  text-decoration: none;
  color: var(--clr-main-btn-active);
}
.card-subscription {
  font-size: var(--fs-s);
  flex: 0 1 70%;
  gap: var(--spacing-m);
}

.music-icon {
  margin-left: var(--spacing-m);
  border-radius: 3rem;
}

.sub-heading {
  color: var(--clr-primary-darker);
}
.card-btn {
  color: var(--clr-pale-blue);
  font-size: var(--fs-ml);
  background-color: var(--clr-primary);
  font-weight: 700;
  padding: var(--spacing-s);
  border-radius: 1rem;
  -webkit-box-shadow: 0px 16px 24px -4px rgba(56, 41, 224, 0.19);
  -moz-box-shadow: 0px 16px 24px -4px rgba(56, 41, 224, 0.19);
  box-shadow: 0px 16px 24px -4px rgba(56, 41, 224, 0.19);
}
.card-btn:active {
  background-color: var(--clr-main-btn-active);
}
.btn-cancel {
  font-size: var(--fs-m);
  background-color: inherit;
  color: var(--clr-gray);
  font-weight: 900;
  padding-bottom: 1.2rem;
}
.btn-cancel:active {
  color: var(--clr-btn-cancel-active);
  font-weight: 900;
}

@media only screen and (min-width: 50em) {
  html,
  body {
    font-size: 70%;
    height: 100%;
    overflow-x: hidden;
  }
  :root {
    --fs-l: 2.566rem;
  }
  .container {
    max-width: 39.5rem;
  }
  .card {
    margin-top: 9rem;
    row-gap: var(--spacing-l);
  }
  .card-content {
    width: 77%;
  }
  .music-icon {
    width: 4rem;
  }
  .btn-cancel {
    font-size: calc(var(--spacing-s) + 0.1rem);
    padding-bottom: 2.4rem;
  }

  .card-btn {
    font-size: var(--spacing-s);
    padding: 1.2rem 0;
  }
  .primary-heading {
    margin-top: var(--spacing-xs);
    margin-bottom: -0.8rem;
  }
  .card-price {
    font-size: var(--fs-l);
  }
  .card-subscription {
    font-size: calc(var(--fs-m) + 0.1rem);
  }
  .card-description {
    margin-bottom: -1.2rem;
  }
  .card-price {
    padding: var(--spacing-l) 0;
  }
} /* end of card */
